:root {
    --accent: #e92f74;
    --accent-soft: #fff0f6;
    --accent-dark: #151515;
    --cover: url('../images/FILA Logo.jpeg')
}

.cover {
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #fff
}