:root {
    --accent: #315da8;
    --accent-soft: #edf5ff;
    --accent-dark: #173766;
    --cover: url('../images/laneige-hero.jpg')
}

.cover {
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #f4f8ff
}